<!-- Map Type Toggle Button -->
<button (click)="toggleMapType()" class="toggle-btn">
    Switch to {{ isSatellite ? 'Default' : 'Satellite' }} Map
</button>

<div class="container-fluid">
    <div class="row">
        <div class="col-9 p-0">
            <!-- Map -->
            <div id="map" style="height: 91vh;"></div>
        </div>
        <div class="col-3 bg-light py-2 small">
            <div>
                <h4 class="p-1 text-center text-bg-primary rounded">Filters</h4>

                <!-- Lessee Filter Selection (Dropdown) -->
                <div class="filter">
                    <label for="filterLayer">Choose Lessee</label>
                    <select class="form-select" id="filterLayer" (change)="onFilterChange($event)">
                        <option value="">All</option>
                        <option *ngFor="let lessee of lessees" [value]="lessee.layer">{{lessee.layer}}</option>
                        <!-- Add more options here -->
                    </select>
                </div>
                <hr>
                <!-- Total Illegal Mining Area -->
                <div>
                    <label class="d-flex gap-2 align-items-center">
                        <input type="checkbox" class="check" class="form-checkbox text-blue-600"
                            [(ngModel)]="isTotalIllegalMiningVisible" (change)="toggleIllegalMiningVisibility()">
                        <span>Show Illegal Mining Area (2024)</span>
                    </label>

                    <div class="d-flex gap-2 mt-2" *ngIf="isTotalIllegalMiningVisible">
                        &nbsp;&nbsp;
                        <label class="d-flex gap-1">
                            <input type="radio" name="totalIllegalMiningMonth" value="jan"
                                class="form-radio text-blue-600" (change)="toggleTotalIllegalMiningLayer('jan')">
                            <span>Jan</span>
                        </label>&nbsp;
                        <label class="d-flex gap-1">
                            <input type="radio" name="totalIllegalMiningMonth" value="dec"
                                class="form-radio text-blue-600" (change)="toggleTotalIllegalMiningLayer('dec')">
                            <span>Dec</span>
                        </label>
                    </div>
                </div>


                <hr>
                <!-- Nearby Illegal Mining -->
                <div>
                    <label class="d-flex gap-2 align-items-center">
                        <input type="checkbox" class="check" class="form-checkbox text-blue-600"
                            [(ngModel)]="isNearByIllegalMiningVisible"
                            (change)="toggleNearBylIllegalMiningVisibility()">
                        <span>Nearby Illegal Mining Area (2024)</span>
                    </label>
                    <div class="d-flex gap-2 mt-2" *ngIf="isNearByIllegalMiningVisible">
                        &nbsp;&nbsp;
                        <label class="d-flex gap-1">
                            <input type="radio" name="totaNearBylIllegalMiningMonth" value="jan"
                                class="form-radio text-blue-600" (change)="toggleNearByIllegalMiningLayer('mar')">
                            <span>March</span>
                        </label>&nbsp;
                        <label class="d-flex gap-1">
                            <input type="radio" name="totaNearBylIllegalMiningMonth" value="dec"
                                class="form-radio text-blue-600" (change)="toggleNearByIllegalMiningLayer('dec')">
                            <span>Dec</span>
                        </label>
                    </div>
                </div>
                <hr>
                <!-- TCI -->
                <div class="mb-4">
                    <label class="d-flex gap-2 align-items-center">
                        <input type="checkbox" class="check" class="form-checkbox text-blue-600"
                            [(ngModel)]="isTCIVisible" (change)="toggleTCIVisibility()">
                        <span>TCI(2024)</span>
                    </label>
                    <div class="d-flex gap-2 mt-2" *ngIf="isTCIVisible">
                        &nbsp;&nbsp;
                        <label class="d-flex gap-1">
                            <input type="radio" name="TCILayer" value="jan" (change)="toogleTCILayer('jan')" class="
                                form-radio text-blue-600">
                            <span>Jan</span>
                        </label>&nbsp;
                        <label class="d-flex gap-1">
                            <input type="radio" name="TCILayer" value="dec" (change)="toogleTCILayer('dec')" class="
                                form-radio text-blue-600">
                            <span>Dec</span>
                        </label>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>