<!-- Map Type Toggle Button -->
<button (click)="toggleMapType()" class="toggle-btn">
    Switch to {{ isSatellite ? 'Default' : 'Satellite' }} Map
</button>

<div class="container-fluid">
    <div class="row">
        <div class="col-9 p-0">
            <!-- Map -->
            <div id="map" style="height: 91vh;"></div>
        </div>
        <div class="col-3 bg-light py-2 small">
            <div>
                <h4 class="p-1 text-center text-bg-primary rounded">Filters</h4>

                <!-- Lessee Filter Selection (Dropdown) -->
                <div>
                    <div class="d-flex gap-2 align-items-center">
                        <input type="checkbox" class="form-checkbox text-blue-600" [(ngModel)]="isLesseeChecked"
                            (click)="toggleLesseeVisibility()">
                        <span>Show Lessee</span>
                    </div>
                    <div class="filter mt-2" *ngIf="isLesseeChecked">
                        <!-- <div for="filterLayer" class="fw-bold">Choose Lessee</div> -->
                        <select class="form-select" id="filterLayer" (change)="onFilterChange($event)">
                            <option value="">All</option>
                            <option *ngFor="let lessee of lessees" [value]="lessee.layer">{{lessee.layer}}</option>
                            <!-- Add more options here -->
                        </select>
                        <img [src]="lesseeLegendUrl" alt="lessee Legend" width="20" height="20"> <span>Lessee
                            Boundry</span>
                        <div class="d-flex gap-3">
                            <span> Opacity </span>
                            <input type="range" class="form-range" [(ngModel)]="lesseLayerOpacity"
                                (input)="updateLayerOpacity('lessee', lesseLayerOpacity)" min="0.1" max="1.0"
                                step="0.1">
                        </div>
                    </div>
                </div>
                <hr>
                <!-- Total Illegal Mining Area -->
                <div>
                    <div class="d-flex gap-2 align-items-center">
                        <input type="checkbox" class="form-checkbox text-blue-600"
                            [(ngModel)]="isTotalIllegalMiningVisible" (change)="toggleIllegalMiningVisibility()">
                        <span>Show Illegal Mining Area (2024)</span>
                    </div>

                    <div class="d-flex flex-column mt-2" *ngIf="isTotalIllegalMiningVisible">
                        <div class="d-flex justify-content-around">
                            <div class="d-flex gap-1">
                                <input type="checkbox" class="form-check-input" [(ngModel)]="isJanTotalVisible"
                                    (change)="toggleTotalIllegalMiningLayer('jan')">
                                <img [src]="janTotalLegendUrl" alt="Dec Legend" width="20" height="20">

                                <span>Jan</span>
                            </div>
                            <div [ngClass]="{'disabled-div': !isJanTotalVisible}">
                                <input type="range" class="form-range" [(ngModel)]="janTotalLayerOpacity"
                                    (input)="updateLayerOpacity('janTotal', janTotalLayerOpacity)" min="0.1" max="1.0"
                                    step="0.1">
                            </div>
                        </div>

                        <div class="d-flex justify-content-around">
                            <div class="d-flex gap-1">
                                <input type="checkbox" class="form-check-input" [(ngModel)]="isDecTotalVisible"
                                    (change)="toggleTotalIllegalMiningLayer('dec')">
                                <img [src]="decTotalLegendUrl" alt="Dec Legend" width="20" height="20">
                                <span>Dec</span>
                            </div>
                            <div [ngClass]="{'disabled-div': !isDecTotalVisible}">
                                <input type="range" class="form-range" [(ngModel)]="decTotalLayerOpacity"
                                    (input)="updateLayerOpacity('decTotal', decTotalLayerOpacity)" min="0.1" max="1.0"
                                    step="0.1">
                            </div>
                        </div>
                    </div>
                </div>



                <hr>



                <!-- Nearby Illegal Mining -->
                <div>
                    <div class="d-flex gap-2 align-items-center">
                        <input type="checkbox" class="form-checkbox text-blue-600"
                            [(ngModel)]="isNearByIllegalMiningVisible"
                            (change)="toggleNearBylIllegalMiningVisibility()">
                        <span>Nearby Illegal Mining Area (2024)</span>
                    </div>

                    <div class="d-flex flex-column mt-2" *ngIf="isNearByIllegalMiningVisible">
                        <div class="d-flex justify-content-around">
                            <div class="d-flex gap-1">
                                <input type="checkbox" class="form-check-input" [(ngModel)]="isMarNearByVisible"
                                    (change)="toggleNearByIllegalMiningLayer('mar')">
                                <img [src]="marNearByLegendUrl" alt="Dec Legend" width="20" height="20">

                                <span>Mar</span>
                            </div>
                            <div [ngClass]="{'disabled-div': !isMarNearByVisible}">
                                <input type="range" class="form-range" [(ngModel)]="marNearByLayerOpacity"
                                    (input)="updateLayerOpacity('marNearBy', marNearByLayerOpacity)" min="0.1" max="1.0"
                                    step="0.1">
                            </div>
                        </div>

                        <div class="d-flex justify-content-around">
                            <div class="d-flex gap-1">
                                <input type="checkbox" class="form-check-input" [(ngModel)]="isDecNearByVisible"
                                    (change)="toggleNearByIllegalMiningLayer('dec')">
                                <img [src]="decNearByLegendUrl" alt="Dec Legend" width="20" height="20">

                                <span>Dec</span>
                            </div>
                            <div [ngClass]="{'disabled-div': !isDecNearByVisible}">
                                <input type="range" class="form-range" [(ngModel)]="decNearByLayerOpacity"
                                    (input)="updateLayerOpacity('decNearBy', decNearByLayerOpacity)" min="0.1" max="1.0"
                                    step="0.1">
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <!-- TCI -->
                <div class="mb-4">
                    <div class="d-flex gap-2 align-items-center">
                        <input type="checkbox" class="form-checkbox text-blue-600" [(ngModel)]="isTCIVisible"
                            (change)="toggleTCIVisibility()">
                        <span>TCI (2024)</span>
                    </div>

                    <div class="d-flex flex-column mt-2" *ngIf="isTCIVisible">
                        <div class="d-flex justify-content-around">
                            <div class="d-flex gap-1">
                                <input type="checkbox" class="form-check-input" [(ngModel)]="isJanTCIVisible"
                                    (change)="toggleTCILayer('jan')">
                                <span>Jan</span>
                            </div>
                            <div [ngClass]="{'disabled-div': !isJanTCIVisible}">
                                <input type="range" class="form-range" [(ngModel)]="janTCILayerOpacity"
                                    (input)="updateLayerOpacity('janTCI', janTCILayerOpacity)" min="0.1" max="1.0"
                                    step="0.1">
                            </div>
                        </div>

                        <div class="d-flex justify-content-around">
                            <div class="d-flex gap-1">
                                <input type="checkbox" class="form-check-input" [(ngModel)]="isDecTCIVisible"
                                    (change)="toggleTCILayer('dec')">
                                <span>Dec</span>
                            </div>
                            <div [ngClass]="{'disabled-div': !isDecTCIVisible}">
                                <input type="range" class="form-range" [(ngModel)]="decTCILayerOpacity"
                                    (input)="updateLayerOpacity('decTCI', decTCILayerOpacity)" min="0.1" max="1.0"
                                    step="0.1" placeholder="opacity">
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
            </div>
        </div>
    </div>
</div>